.header {
  display: flex;
  justify-content: space-between;
  margin: 45px 100px 0 100px;
  
}

.nav {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-primary;
    .active {
        text-decoration: underline;
    }
    
    .navLink {
        color: $color-primary;
        font-weight: 500;
    }
}

