* {
  font-size: 24px;
  font-family: $font-primary;
}

.main__banner h2 {
  white-space: nowrap;
  font-size: 48px;
}

.error {
  color: $color-primary;
  h1 {
    font-size: 288px;
  }
  p {
    font-size: 36px;
  }
  a {
    font-size: 18px;
    color: $color-primary;
  }
}
