* {
  font-size: 24px;
  font-family: $font-primary;
}

.navLink {
  @media(max-width: 450px) {
    font-size: 12px;
  }
}


.banner__title {
  white-space: nowrap;
  font-size: 48px;
}

.card__title {
  font-size: 18px;
  color: white;
}

@media(max-width: 1040px) {
  * {
    font-size: 18px;
  }

  .banner__title {
    white-space: nowrap;
    font-size: 24px;
  }

}
.error {
  color: $color-primary;
  h1 {
    font-size: 288px;
  }
  p {
    font-size: 36px;
  }
  a {
    font-size: 18px;
    color: $color-primary;
  }
}

