.gallery {
  height: 100%;
  margin-top: 43px;
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding: 56px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 50px;

  @media (max-width: 1040px) {
    margin: 22px 0px 27px;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
    padding: 0;
    background-color: white;
    gap: 20px;
  }
}
